CONFIG_TARGET_bcm53xx=y
CONFIG_TARGET_bcm53xx_DEVICE_phicomm-k3=y
CONFIG_TARGET_BOARD="bcm53xx"
CONFIG_PACKAGE_ipv6helper=y

CONFIG_PACKAGE_kmod-usb-ohci=y
CONFIG_PACKAGE_kmod-usb-ohci-pci=y
CONFIG_PACKAGE_kmod-usb2=y
CONFIG_PACKAGE_kmod-usb2-pci=y
CONFIG_PACKAGE_kmod-usb3=y

CONFIG_PACKAGE_luci-app-nfs=y
CONFIG_PACKAGE_luci-app-accesscontrol=y
CONFIG_PACKAGE_luci-app-adbyby-plus=y
CONFIG_PACKAGE_luci-app-adguardhome-1=y
CONFIG_PACKAGE_luci-app-airplay2=y
CONFIG_PACKAGE_luci-app-aria2=y
CONFIG_PACKAGE_luci-app-arpbind=y
CONFIG_PACKAGE_luci-app-autoreboot=y
CONFIG_PACKAGE_luci-app-baidupcs-web=y
CONFIG_PACKAGE_luci-app-ddns=y
CONFIG_PACKAGE_luci-app-filetransfer=y
CONFIG_PACKAGE_luci-app-firewall=y
CONFIG_PACKAGE_luci-app-flowoffload=y
CONFIG_PACKAGE_luci-app-guest-wifi=y
CONFIG_PACKAGE_luci-app-hd-idle=y
CONFIG_PACKAGE_luci-app-k3screenctrl=y
CONFIG_PACKAGE_luci-app-k3usb=y
CONFIG_PACKAGE_luci-app-kodexplorer=y
CONFIG_PACKAGE_luci-app-koolproxyR=y
CONFIG_PACKAGE_luci-app-minidlna=y
CONFIG_PACKAGE_luci-app-mwan3=y
CONFIG_PACKAGE_luci-app-mwan3helper=y
CONFIG_PACKAGE_luci-app-n2n_v2=y
CONFIG_PACKAGE_luci-app-nlbwmon=y
CONFIG_PACKAGE_luci-app-ramfree=y
CONFIG_PACKAGE_luci-app-samba=y
CONFIG_PACKAGE_luci-app-smartdns=y
CONFIG_PACKAGE_luci-app-softethervpn=y
CONFIG_PACKAGE_luci-app-sqm=y
CONFIG_PACKAGE_luci-app-ssr-plus=y
CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_V2ray_plugin=y
CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_V2ray=y
CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_Trojan=y
CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_Redsocks2=y
CONFIG_PACKAGE_luci-app-ssrserver-python=y
CONFIG_PACKAGE_luci-app-syncdial=y
CONFIG_PACKAGE_luci-app-transmission=y
CONFIG_PACKAGE_luci-app-ttyd=y
CONFIG_PACKAGE_luci-app-udpxy=y
CONFIG_PACKAGE_luci-app-uhttpd=y
CONFIG_PACKAGE_luci-app-upnp=y
CONFIG_PACKAGE_luci-app-usb-printer=y
CONFIG_PACKAGE_luci-app-v2ray-server=y
CONFIG_PACKAGE_luci-app-vlmcsd=y
CONFIG_PACKAGE_luci-app-vsftpd=y
CONFIG_PACKAGE_luci-app-wifischedule=y
CONFIG_PACKAGE_luci-app-wireguard=y
CONFIG_PACKAGE_luci-app-wol=y
CONFIG_PACKAGE_luci-app-zerotier=y
CONFIG_PACKAGE_luci-app-control-timewol=y
CONFIG_PACKAGE_luci-app-control-webrestriction=y
CONFIG_PACKAGE_luci-app-control-weburl=y
CONFIG_PACKAGE_luci-app-ipsec-vpnserver-manyusers=y
CONFIG_PACKAGE_luci-app-pptp-vpnserver-manyusers=y
CONFIG_PACKAGE_automount=y
CONFIG_PACKAGE_autosamba=y

CONFIG_PACKAGE_ddns-scripts_cloudflare.com-v4=y
CONFIG_PACKAGE_curl=y
CONFIG_PACKAGE_wget=y
CONFIG_PACKAGE_Szt-k3sreenctrl=y
CONFIG_FFMPEG_CUSTOM_PATENTED=y
CONFIG_FFMPEG_CUSTOM_MINIDLNA_SUPPORT=y
CONFIG_FFMPEG_CUSTOM_DECODER_aac=y
CONFIG_FFMPEG_CUSTOM_DECODER_ac3=y
CONFIG_FFMPEG_CUSTOM_DECODER_flac=y
CONFIG_FFMPEG_CUSTOM_DECODER_h264=y
CONFIG_FFMPEG_CUSTOM_DECODER_hevc=y
CONFIG_FFMPEG_CUSTOM_DECODER_jpegls=y
CONFIG_FFMPEG_CUSTOM_DECODER_mp2=y
CONFIG_FFMPEG_CUSTOM_DECODER_mp3=y
CONFIG_FFMPEG_CUSTOM_DECODER_mpegvideo=y
CONFIG_FFMPEG_CUSTOM_DECODER_mpeg1video=y
CONFIG_FFMPEG_CUSTOM_DECODER_mpeg2video=y
CONFIG_FFMPEG_CUSTOM_DECODER_mpeg4=y
CONFIG_FFMPEG_CUSTOM_DECODER_opus=y
CONFIG_FFMPEG_CUSTOM_DECODER_png=y
CONFIG_FFMPEG_CUSTOM_DECODER_vc1=y
CONFIG_FFMPEG_CUSTOM_DECODER_vorbis=y
CONFIG_FFMPEG_CUSTOM_DECODER_wmav1=y
CONFIG_FFMPEG_CUSTOM_DECODER_wmav2=y
CONFIG_FFMPEG_CUSTOM_DECODER_zlib=y
CONFIG_FFMPEG_CUSTOM_DEMUXER_avi=y
CONFIG_FFMPEG_CUSTOM_DEMUXER_flac=y
CONFIG_FFMPEG_CUSTOM_DEMUXER_matroska=y
CONFIG_FFMPEG_CUSTOM_DEMUXER_mov=y
CONFIG_FFMPEG_CUSTOM_DEMUXER_mp3=y
CONFIG_FFMPEG_CUSTOM_DEMUXER_mpegvideo=y
CONFIG_FFMPEG_CUSTOM_DEMUXER_mpegps=y
CONFIG_FFMPEG_CUSTOM_DEMUXER_mpegts=y
CONFIG_FFMPEG_CUSTOM_DEMUXER_ogg=y
CONFIG_FFMPEG_CUSTOM_PROTOCOL_file=y
